name: Database Migrations Check

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  migrations:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: dataops
          POSTGRES_PASSWORD: dataops123
          POSTGRES_DB: labdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U dataops"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Wait for PostgreSQL
        run: |
          until pg_isready -h localhost -p 5432 -U dataops; do
            echo "Waiting for postgres..."
            sleep 2
          done

      - name: Run migrations
        env:
          DB_CONTAINER: ${{ job.services.postgres.id }}
          DB_USER: dataops
          DB_NAME: labdb
        run: |
          chmod +x scripts/run_migrations.sh
          scripts/run_migrations.sh
